@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Signika+Negative:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: black;
    --accent-color: rgb(82, 165, 238);
    --highlight-color: red;
    font-family: 'Fruktur', cursive;
}

img {
    display: block;
    width: 100%;
}

.logo {
    color: var(--highlight-color);
    border: 10px solid var(--accent-color);
    text-align: center;
}

.menu {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu a {
    border: 10px solid var(--accent-color);
    color: var(--main-color);
    display: block;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover {
    text-decoration: underline;
}

header .banner {
    background-image: url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

header .banner h1 {
    font-family: 'Signika Negative', sans-serif;
}

main div.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 800px) {
    main div.products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
